In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
vals = []
with open('./input.txt', 'r') as file:
    for line in file:
        vals.append(line.strip())
        
vals[:5]

['Blueprint 1: Each ore robot costs 4 ore. Each clay robot costs 4 ore. Each obsidian robot costs 3 ore and 9 clay. Each geode robot costs 3 ore and 7 obsidian.',
 'Blueprint 2: Each ore robot costs 4 ore. Each clay robot costs 4 ore. Each obsidian robot costs 2 ore and 16 clay. Each geode robot costs 4 ore and 16 obsidian.',
 'Blueprint 3: Each ore robot costs 4 ore. Each clay robot costs 4 ore. Each obsidian robot costs 2 ore and 14 clay. Each geode robot costs 4 ore and 15 obsidian.',
 'Blueprint 4: Each ore robot costs 2 ore. Each clay robot costs 2 ore. Each obsidian robot costs 2 ore and 20 clay. Each geode robot costs 2 ore and 14 obsidian.',
 'Blueprint 5: Each ore robot costs 3 ore. Each clay robot costs 4 ore. Each obsidian robot costs 4 ore and 5 clay. Each geode robot costs 4 ore and 8 obsidian.']

In [261]:
test ='''Blueprint 1: Each ore robot costs 4 ore. Each clay robot costs 2 ore. Each obsidian robot costs 3 ore and 14 clay. Each geode robot costs 2 ore and 7 obsidian.
Blueprint 2: Each ore robot costs 2 ore. Each clay robot costs 3 ore. Each obsidian robot costs 3 ore and 8 clay. Each geode robot costs 3 ore and 12 obsidian.'''

vals = []
for line in test.split('\n'):
    vals.append(line.strip())

vals[:5]

['Blueprint 1: Each ore robot costs 4 ore. Each clay robot costs 2 ore. Each obsidian robot costs 3 ore and 14 clay. Each geode robot costs 2 ore and 7 obsidian.',
 'Blueprint 2: Each ore robot costs 2 ore. Each clay robot costs 3 ore. Each obsidian robot costs 3 ore and 8 clay. Each geode robot costs 3 ore and 12 obsidian.']

In [3]:
bp = []
for idx, v in enumerate(vals,1):

    for r_cost in v.split(': ')[1].split('. '):
        entry = {}
        entry['bp'] = idx
        r = r_cost.split(' ')
        entry['type'] = r[1]

        entry['ore'] =  int(r[4])
        entry['clay'] =  0
        entry['obsidian'] =  0


        if len(r)>6:
            if entry['type']=='geode':
                entry[f'{r[-1][:-1]}'] = int(r[-2])
            else:
                entry[f'{r[-1]}'] = int(r[-2])              
        bp.append(entry)

In [4]:
import pandas as pd
df = pd.DataFrame(bp)
df

     bp      type  ore  clay  obsidian
0     1       ore    4     0         0
1     1      clay    4     0         0
2     1  obsidian    3     9         0
3     1     geode    3     0         7
4     2       ore    4     0         0
..   ..       ...  ...   ...       ...
115  29     geode    2     0         8
116  30       ore    4     0         0
117  30      clay    3     0         0
118  30  obsidian    4    15         0
119  30     geode    3     0        12

[120 rows x 5 columns]

In [5]:
finally_done = 0
for aaaa, bbbb in df.groupby('bp'):
    print(aaaa)
    bp = bbbb.reset_index(drop=True)
    

    rocks  = np.array([0,0,0,0,0])
    robots = np.array([0,1,0,0,0])
    costs = np.array([[0,0,0,0,0],])
    for row in bp.iloc():
        costs = np.vstack([costs, np.array([0,row['ore'], row['clay'], row['obsidian'],0])])


    timer = 0
    built = 0

    ore_value = costs[1].sum()//2
    clay_value = costs[2].sum()//2
    obsidian_value = (costs[3][1]*ore_value+costs[3][2]*clay_value)
    geode_value = (costs[4][1]*ore_value+costs[4][3]*obsidian_value)**2

    situations = [[0, rocks, robots, built],]

    while timer < 24:#21 good
        timer += 1
        new_situation = []

        if len(situations)>5000:
            situations = sorted(situations, key = lambda x: x[0], reverse = True)[:5000]

        for situation in situations:
            value,rocks,robots,built = situation


            options = np.argwhere((rocks >= costs).all(1)).ravel()

            for o in options:
                new_rocks = (rocks + robots - costs[o]).copy()
                new_robots = robots.copy()
                new_robots[o] += 1

                value = (new_robots[1] + new_rocks[1])*ore_value + \
                        (new_robots[2] + new_rocks[2])*clay_value + \
                        (new_robots[3] + new_rocks[3])*obsidian_value + \
                        (new_robots[4] + new_rocks[4])*geode_value
                new_situation.append([value, new_rocks, new_robots, o])
        situations = new_situation
    best = sorted(situations, key = lambda x: x[0], reverse = True)[0]
    finally_done += best[1][-1]*aaaa
finally_done

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

1958

In [6]:
finally_done = 1
for aaaa, bbbb in df.groupby('bp'):
    if aaaa >= 4:
        continue
    bp = bbbb.reset_index(drop=True)
    

    rocks  = np.array([0,0,0,0,0])
    robots = np.array([0,1,0,0,0])
    costs = np.array([[0,0,0,0,0],])
    for row in bp.iloc():
        costs = np.vstack([costs, np.array([0,row['ore'], row['clay'], row['obsidian'],0])])


    timer = 0
    built = 0

    ore_value = costs[1].sum()//2
    clay_value = costs[2].sum()//2
    obsidian_value = (costs[3][1]*ore_value+costs[3][2]*clay_value)
    geode_value = (costs[4][1]*ore_value+costs[4][3]*obsidian_value)**2

    situations = [[0, rocks, robots, built],]

    while timer < 32:
        timer += 1
        new_situation = []

        if len(situations)>5000:
            situations = sorted(situations, key = lambda x: x[0], reverse = True)[:5000]

        for situation in situations:
            value,rocks,robots,built = situation


            options = np.argwhere((rocks >= costs).all(1)).ravel()

            for o in options:
                new_rocks = (rocks + robots - costs[o]).copy()
                new_robots = robots.copy()
                new_robots[o] += 1

                value = (new_robots[1] + new_rocks[1])*ore_value + \
                        (new_robots[2] + new_rocks[2])*clay_value + \
                        (new_robots[3] + new_rocks[3])*obsidian_value + \
                        (new_robots[4] + new_rocks[4])*geode_value
                new_situation.append([value, new_rocks, new_robots, o])
        situations = new_situation
    best = sorted(situations, key = lambda x: x[0], reverse = True)[0]
    finally_done = finally_done * best[1][-1]
finally_done

4257